@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;

}

:root{

    --colorAzulClaro:#82bfff;
    --colorAzulOcuro:rgb(51, 139, 255);
    --colorMasOcur:rgb(0, 53, 123);
}

body{

    
    background:linear-gradient(rgb(51, 139, 255),rgb(0, 53, 123)) ;
    font-family: 'Kanit', sans-serif;
    
}

.ContenedorGeneral{

    display: flex;
    background-color: white;
  

}

.ContenedorGeneral img{

    width: 30px;
    margin: 0 10px;
    padding: 10px;
    

}

.contenedorMenu{

    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
html{

    scroll-behavior: smooth;
}

.icono{

    font-size: 30px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
}

.icono a{

    text-decoration: none;
    color: gray;
}

.icono a:hover{

    color: var(--colorMasOcur);
}

.textoIcono{

    font-size: 15px;
    margin-top: -10px;
    color: black;
}

.marca{

    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: var(--colorAzulOcuro);
    font-family: sans-serif;
}

.marca span{

    color: var(--colorMasOcur);
} 


.tituloPaquetes{
      
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 10px black;
    padding: 10px;
    
}


.contenedorFlip{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
}

.card{
 
    position: relative;
    width: 250px ;
    height: 350px;
    margin: 10px;
    margin-top: -20px;
}

.card .face{

    position: absolute;
    width: 100% ;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;

}

.card .front{

    transform: perspective(600px) rotateX(0deg);
    box-shadow: 0 5px 10px black;
    transition: 1s;
}

.card .front img{

    position: absolute;
    width: 100% ;
    height: 100%;
    object-fit: cover;

}


.card .front h3{

    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    height: 45px;
    bottom: 0;
    position: absolute;
    line-height: 45px;
    color: white;
}

.card .back{

    transform: perspective(600px) rotateX(180deg);
    background: rgb(0, 53, 123);
    padding: 15px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px black;
    transition: 1s;
}

.card .back h3{

    font-size: 30px;
    margin-top: 20px;

    letter-spacing: 2px;
}

.card .back p{

    letter-spacing: 2px;
}

.card:hover .front{

    transform: perspective(600px) rotateX(180deg);
    transition: 1s;
}

.card:hover .back{

    transform: perspective(600px) rotateX(360deg);
    transition: 1s;
}


.ActividadesFondo{

    height: 600px;
    display: grid;
    background-color: white;
}

















.fondo{

    background-color: white;
    height: 600px;

}

.tituloHoteles{

    text-align:center ;
    text-transform: uppercase;
    margin: 20px;
    padding: 20px;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px gray;

}

.Acomodar{

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cartaHotel{

    height: 300px;
    border-radius: 20px;
    width: 280px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(https://www.hotel-board.com/picture/nevada-hotel-8123370.jpg);
    background-size: cover;
    
}

.cartaHotel2{

    height: 300px;
    border-radius: 20px;
    width: 280px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(https://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_450,q_auto,w_450/itemimages/17/00/1700113_v3.jpeg);
    background-size: cover;
    
}

.cartaHotel3{

    height: 300px;
    border-radius: 20px;
    width: 280px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Villavicencio_Hotel_Mendoza_Argentina.jpg);
    background-size: cover;
    
}

.cartaHotel4{

    height: 300px;
    border-radius: 20px;
    width: 280px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(https://economis.com.ar/wp-content/uploads/2018/01/amerian-home-1.jpg);
    background-size: cover;
    
}

.textoHotel{
    transform: translateY(300px);
    transition: 1s;
    opacity: 0;
    color: white;
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.677);
}

.cartaHotel:hover .textoHotel{
    transform: translateY(230px);
    opacity: 1;
}

.cartaHotel2:hover .textoHotel{
    transform: translateY(230px);
    opacity: 1;
}

.cartaHotel3:hover .textoHotel{
    transform: translateY(230px);
    opacity: 1;
}

.cartaHotel4:hover .textoHotel{
    transform: translateY(230px);
    opacity: 1;
}


.tituloPromocion{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin: 50px 0;
    height: 40px;
    padding: 30px;
    background-color: var(--colorMasOcur);
 
}

.tituloPromocion h2{

    position: absolute;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border{

    color: black;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white;

}


.wave{

    color: var(--colorAzulOcuro);
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave{

    0%,100%{
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%);
    }

    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}




